<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @* NAVBAR SUPER ADMIN *@


    @if (User.IsInRole("SuperAdmin"))
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark ">
            <img src="~/assets/images/logo.png" id="logo" />
            <div class="container mt-3 ">

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Aziende", "Index", "BusinessDetails", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Nomi Eventi", "Index", "EventTitles", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Eventi", "Index", "Events", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Players", "Index", "Players", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Teams", "Index", "Teams", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Tickets", "Index", "Tickets", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Titoli", "Index", "Titles", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Utenti", "Index", "Users", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Arene", "Index", "Venues", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity.Name
                            </a>

                            @if (Request.IsAuthenticated)
                            {
                            <li class="nav-item">
                                <a href="javascript:document.getElementById('logoutForm').submit();" class="nav-link">Logout</a>
                                <form method="post" action="@Url.Action("Logout", "Login")" id="logoutForm" style="display:none;">
                                    @Html.AntiForgeryToken()
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        }

                        </ul>




                        
                    </div>
            </div>
        </nav>
    }

    @*NAVBAR ADMIN*@

    @if (User.IsInRole("Admin"))
    {

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark ">
            <img src="~/assets/images/logo.png" id="logo" />
            <div class="container mt-3">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">
                            @Html.ActionLink("Eventi", "AllEvents", "Events", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Teams", "AllTeams", "Teams", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity.Name
                            </a>

                           
                            @if (Request.IsAuthenticated)
                            {
                            <li class="nav-item">
                                <a href="javascript:document.getElementById('logoutForm').submit();" class="nav-link">Logout</a>
                                <form method="post" action="@Url.Action("Logout", "Login")" id="logoutForm" style="display:none;">
                                    @Html.AntiForgeryToken()
                                </form>
                            </li>
                            }
                            else
                            {
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "nav-link" })
                            </li>
                             }

                        </ul>
                </div>
               
            </div>
        </nav>

    }



    @*NAVBAR USER*@


    @if (User.IsInRole("User"))
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark ">
            <img src="~/assets/images/logo.png" id="logo" />
            <div class="container mt-3">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">
                            @Html.ActionLink("Eventi", "AllEvents", "Events", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Teams", "AllTeams", "Teams", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        @User.Identity.Name

                      
                        @if (Request.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a href="javascript:document.getElementById('logoutForm').submit();" class="nav-link">Logout</a>
                                <form method="post" action="@Url.Action("Logout", "Login")" id="logoutForm" style="display:none;">
                                    @Html.AntiForgeryToken()
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        }

                    </ul>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#carrelloModal" data-url="/Carrello/CartSummary">
                    Apri il carrello
                </button>
            </div>
        </nav>


    }

    @if (!User.IsInRole("User") && !User.IsInRole("Admin") && !User.IsInRole("SuperAdmin"))
    {

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark ">
            <img src="~/assets/images/logo.png" id="logo" />
            <div class="container mt-3 ">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @User.Identity.Name


                        @if (Request.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "nav-link" })
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        }
                    </ul>

                    @* Form per il logout, visibile solo se l'utente è autenticato *@
                    @if (Request.IsAuthenticated)
                    {
                        <form method="post" action="@Url.Action("Logout", "Login")" id="logoutForm" class="form-inline my-2 my-lg-0">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn button-nav">Logout</button>
                        </form>
                    }


                </div>
            </div>
        </nav>





    }


    <!-- Modale Carrello -->

    <div class="modal fade" id="carrelloModal" tabindex="-1" role="dialog" aria-labelledby="carrelloModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="carrelloModalLabel">Riepilogo Carrellosssssssssss</h5>
                </div>
                <div class="modal-body">
                    <!-- Il contenuto del modale verrà caricato qui -->
                </div>
                <div class="modal-footer">
                    <!-- Pulsanti o altro contenuto per il footer del modale -->
                </div>
            </div>
        </div>
    </div>




    @*<ul class="nav navbar-nav navbar-nav-first">
            <li><a href="#home" class="smoothScroll">Home</a></li>
            <li><a href="#about" class="smoothScroll">About</a></li>
            <li><a href="#team" class="smoothScroll">Chef</a></li>
            <li><a href="#arene" class="smoothScroll">Menu</a></li>
            <li><a href="#contact" class="smoothScroll">Contact</a></li>
        </ul>*@





    <div>
        @RenderBody()



    </div>





    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    @RenderSection("scripts", required: false)

    <!-- Script personalizzati -->
    <script>
        $(document).ready(function () {
            $('#carrelloModal').on('show.bs.modal', function (e) {
                var button = $(e.relatedTarget); // Il pulsante che ha attivato il modal
                var url = button.data('url'); // Estrai l'URL dalla data-* attributes del pulsante

                var modal = $(this);
                modal.find('.modal-body').load(url); // Carica il contenuto della partial view nell'elemento con classe .modal-body
            });
        });
    </script>



</body>
</html>
