@model GamingRoom.Models.Titles

@{
    ViewBag.Title = "Title Details";
}

<div class="container" style="height:120vh">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-5 text-white" style="background-color: rgb(157, 0, 255)!important">
                <div class="card-header">
                    <h2 class="text-center">Dettagli Titolo</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        @if (!string.IsNullOrEmpty(Model.Photo))
                        {
                            <dt class="col-sm-4">Immagine</dt>
                            <dd class="col-sm-8">
                                <img src="@Url.Content("~/Content/ImgTitles/" + Model.Photo)" alt="Title Image" class="img-fluid" />
                            </dd>
                        }
                        <dt class="col-sm-4">Nome</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">Descrizione</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                        <dt class="col-sm-4">Casa di Produzione</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.ProductionHouse)</dd>
                    </dl>
                </div>
                <div class="card-footer text-muted">
                    <a href="@Url.Action("Edit", new { id = Model.TitleID })" class="btn btn-primary">Modifica</a>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Torna alla Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
