@model GamingRoom.Models.Titles

@{
    ViewBag.Title = "Edit Title";
}

<div  style="height:100vh">
  
            <h2 class="text-center text-white mt-5">Modifica Titolo</h2>
            @using (Html.BeginForm("Edit", "Titles", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal ms-5", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group text-white">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.TitleID)

                    <div class="form-group">
                        <label for="Name" class="col-md-2 control-label">Nome Titolo</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Description" class="col-md-2 control-label">Descrizione</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ProductionHouse" class="col-md-2 control-label">Casa di Produzione</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProductionHouse, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductionHouse, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="titlePhoto" class="col-md-2 control-label">Immagine</label>
                        <div class="col-md-10">
                            <input type="file" name="titlePhoto" id="titlePhoto" class="form-control" />
                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salva" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    @Html.ActionLink("Torna alla Lista", "Index", null, new { @class = "btn btn-secondary text-white ms-3" })
                </div>
            }
        </div>
   

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
