@model IEnumerable<GamingRoom.Models.Titles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table text-light fs-5">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionHouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionHouse)
        </td>
        <td>
            <img src="@Url.Content("~/Content/ImgTitles/" + item.Photo)" alt="Title Photo" width="100" />
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TitleID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TitleID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TitleID })
        </td>
    </tr>
}

</table>
