@model GamingRoom.Models.BusinessDetails

@{
    ViewBag.Title = "Crea";
}

<h2 class="text-center">Crea Dettagli Azienda</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal ms-5", @style = "height:100vh", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group text-white">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="ms-3">ID Creatore</div>
            <div class="col-md-10">
                @Html.DropDownList("BusinessID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BusinessID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="ms-3">Nome Azienda</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BusinessName, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="ms-3">Indirizzo</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="ms-3">Numero di Telefono</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <div class="ms-3">
                    Sito Web
                </div>            
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crea" class="btn btn-primary" />
            </div>
        </div>
        <div>
             @Html.ActionLink("Torna alla Lista", "Index", null, new { @class = "btn btn-default text-white" })
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
