@model GamingRoom.Models.BusinessDetails

@{
    ViewBag.Title = "Details";
}

<div class="container" style="height:100vh">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5 text-white" style="background-color: rgb(157, 0, 255)!important">
                <div class="card-header">
                    <h2 class="text-center">Dettagli Azienda</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Username</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Users.Username)</dd>

                        <dt class="col-sm-4">Nome Azienda</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.BusinessName)</dd>

                        <dt class="col-sm-4">Indirizzo</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

                        <dt class="col-sm-4">Numero di Telefono</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>

                        <dt class="col-sm-4">Sito Web</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Website)</dd>
                    </dl>
                </div>
                <div class="card-footer text-muted">
                    <a href="@Url.Action("Edit", new { id = Model.BusinessID })" class="btn btn-primary">Modifica</a>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Torna alla Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
