@model GamingRoom.Models.BusinessDetails

@{
    ViewBag.Title = "Edit Business Details";
}

<h2 class="text-center">Modifica Dettagli Azienda</h2>

@using (Html.BeginForm("Edit", "BusinessDetails", FormMethod.Post, new { @class = "form-horizontal ms-5", @style = "height:100vh", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group text-white">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BusinessID)

        <div class="form-group">
            <label class="ms-3" for="BusinessName">Nome Azienda</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BusinessName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BusinessName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="ms-3" for="Address">Indirizzo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="ms-3" for="PhoneNumber">Numero di Telefono</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="ms-3" for="Website">Sito Web</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </div>

        <div >
            @Html.ActionLink("Torna alla Lista", "Index", new { }, new { @class = "btn btn-secondary text-white ms-3" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
