@model GamingRoom.Models.Cart

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Shopping Cart";
}

<div class="container my-5 text-white" style="height:150vh">
    <div class="card" style="background-color: rgb(157, 0, 255); color: rgb(214, 214, 214)!important">
        <div class="card-header">
            <h2 class="text-center">Riepilogo Carrello</h2>
        </div>
        <div class="card-body">
            @if (Model.CartItems.Any())
            {
                <div class="table-responsive ">
                    <table class="table table-bordered" style=" color: rgb(214, 214, 214)!important">
                        <thead>
                            <tr>
                                <th>Evento</th>
                                <th>Data</th>
                                <th>Arena</th>
                                <th>Prezzo</th>
                                <th>Quantità</th>
                                <th>Totale</th>
                                <th>Azione</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td>@item.Event.Name</td>
                                    <td>@item.Event.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Event.Venues.Name</td>
                                    <td>@item.Price.ToString("C")</td>
                                    <td>
                                        @using (Html.BeginForm("UpdateCart", "Cart", new { EventID = item.EventID }, FormMethod.Post, new { @class = "form-inline" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="number" name="quantity" value="@item.Quantity" min="1" max="5" class="form-control" />
                                            <button type="submit" class="btn btn-info ms-2 btn-sm" style="background: rgb(0, 55, 255) !important; border: 0; height:35px; border-radius: 0 !important; ">Aggiorna</button>
                                        }
                                    </td>
                                    <td>@item.Total.ToString("C")</td>
                                    <td>
                                        @using (Html.BeginForm("RemoveFromCart", "Cart", new { EventID = item.EventID }, FormMethod.Post, new { @class = "form-inline" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-danger btn-sm" style="border: 0; height: 35px; border-radius: 0 !important;">Rimuovi</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-right ">
                    <h3 class="text-white my-5">Totale: @Model.CartItems.Sum(i => i.Total).ToString("C")</h3>
                    @using (Html.BeginForm("ClearCart", "Cart", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn" style="background: #ce3232 !important; border-radius: 0 !important; border: 0; color: rgb(214, 214, 214) !important; font-weight: bold !important; height: 50px; ">Svuota Carrello</button>
                    }
                    
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert" style="background-color: rgb(157, 0, 255); color: rgb(214, 214, 214) !important">
                    Il tuo carrello è vuoto!
                </div>
            }
        </div>
    </div>
      
       
        <div class=" d-flex align-items-center mt-5">
            <div class="container">
                <div class="col-lg-8 col-md-9 mx-auto">
                    <div class="px-5 pb-4 shadow mainBgn customRounded">
                        <div class="mb-3">
                            <h1 id="cardFlare" class="boldfont"><em>VISA</em></h1>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <h6><small class="text-warning">EVENTO:</small></h6>
                                <p class="fs-5 lightColor text-capitalize">
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <div>
                                            <p>@item.Event.Name</p>
                                            
                                        </div>
                                    }
                                </p>
                                <div class="border-top pt-2 mt-5">
                                    <h6 class="pt-3"><small class="lightColor2"><strong>TOTALE ORDINE</strong></small></h6>
                                    <div class="display-2 text-white boldfont priceShadow">


                                      
                                            <div>
                                             <p>@Model.CartItems.Sum(i => i.Total).ToString("C")</p>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-8 col-xs-12" >
                                <div class=" customRounded shadow-lg px-4 pt-4" style="transform:translateX(90px); background-color: rgb(157, 0, 255); color: rgb(214, 214, 214)!important">
                                    <div class="row mt-3" >
                                        <div class="col-sm-6 text-center d-flex align-items-center justify-content-center" style="min-height: 200px;">
                                            <!-- Imposta l'altezza minima come necessario -->
                                            <div>
                                                <div class="lightColor2 text-uppercase"><small>Inserisci dati della carta</small></div>
                                                <div class="my-4">
                                                    <img src="~/assets/images/logo.png" id="logopay" alt="" class="img-fluid mx-auto d-block">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div>
                                                <label for="">Name</label>
                                                <input type="text" class="customInput">
                                            </div>
                                            <div>
                                                <label for="">Card Number</label>
                                                <input type="text" class="customInput">
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="">Expires</label>
                                                    <select name="" id="">
                                                        <option selected value='1'>Janaury</option>
                                                        <option value='2'>February</option>
                                                        <option value='3'>March</option>
                                                        <option value='4'>April</option>
                                                        <option value='5'>May</option>
                                                        <option value='6'>June</option>
                                                        <option value='7'>July</option>
                                                        <option value='8'>August</option>
                                                        <option value='9'>September</option>
                                                        <option value='10'>October</option>
                                                        <option value='11'>November</option>
                                                        <option value='12'>December</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="">Expires</label>
                                                    <select name="" id="">
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                        <option value="2027">2027</option>
                                                        <option value="2028">2028</option>
                                                        <option value="2029">2029</option>
                                                        <option value="2030">2030</option>
                                                        <option value="2031">2031</option>
                                                        <option value="2032">2032</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="">CVV</label>
                                                    <input type="text" class="customInput">
                                                </div>
                                            </div>
                                            <div class="text-end" style="transform:translateY(20px)">
                                                @Html.ActionLink("Completa acquisto", "Checkout", "Cart", new { }, new { @class = "btn py-3 btn-sm px-4 shadow rounded-0 button-index" })
                                               
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="lightColor2 text-end mt-5">
                                    <input type="checkbox" checked><label for="" class="ms-2 align-text-bottom">Save Card for Further Purchases</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>