@model GamingRoom.Models.Events

@{
    ViewBag.Title = "Details";
}

<div class="container" style="height:120vh">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-5 text-white" style="background-color: rgb(157, 0, 255)!important">
                <div class="card-header">
                    <h2 class="text-center">Dettagli Evento</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Foto</dt>
                        <dd class="col-sm-8">
                            <img src="@Url.Content("~/Content/ImgEvents/" + Model.Photo)" alt="Event Photo" class="img-fluid" />
                        </dd>

                        <dt class="col-sm-4">Arena</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Venues.Name)</dd>

                         
                        <dt class="col-sm-4">Nome Evento</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">Descrizione</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                        <dt class="col-sm-4">Prezzo Biglietto</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.TicketPrice)</dd>

                        <dt class="col-sm-4">Data Evento</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Date)</dd>

                        <dt class="col-sm-4">Team Partecipanti</dt>
                        <dd class="col-sm-8">
                            @if (Model.Teams != null && Model.Teams.Any())
                            {
                                <ul class="list-unstyled">
                                    @foreach (var team in Model.Teams)
                                    {
                                        <li>@Html.DisplayFor(modelItem => team.Name)</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>Nessun team partecipante</p>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-muted">
                    <a href="@Url.Action("Edit", new { id = Model.EventID })" class="btn btn-primary">Modifica</a>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Torna alla Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
