@model GamingRoom.Models.Events

@{
    ViewBag.Title = "Edit";
}


    
            <h2 class="text-center text-white mt-5">Modifica Evento</h2>
            @using (Html.BeginForm("Edit", "Events", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal ms-5", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group text-white">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <!-- Hidden field for storing the primary key (EventID) -->
                    @Html.HiddenFor(model => model.EventID)

                    <!-- Name field -->
                    <div class="form-group">
                        <label for="Name" class="control-label col-md-2">Nome Evento</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Description field -->
                    <div class="form-group">
                        <label for="Description" class="control-label col-md-2">Descrizione</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Date field -->
                    <div class="form-group">
                        <label for="Date" class="control-label col-md-2">Data Evento</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- VenueID field -->
                    <div class="form-group">
                        <label for="VenueID" class="control-label col-md-2">Location</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.VenueID, (SelectList)ViewBag.Venues, "Select Venue", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VenueID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- TicketPrice field -->
                    <div class="form-group">
                        <label for="TicketPrice" class="control-label col-md-2">Prezzo Biglietto</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TicketPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TicketPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- TicketsAvailable field -->
                    <div class="form-group">
                        <label for="TicketsAvailable" class="control-label col-md-2">Biglietti Disponibili</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TicketsAvailable, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TicketsAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- TicketsSold field -->
                    <div class="form-group">
                        <label for="TicketsSold" class="control-label col-md-2">Biglietti Venduti</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TicketsSold, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TicketsSold, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- IsActive checkbox -->
                    <div class="form-group">
                        <label for="IsActive" class="control-label col-md-2">Attivo</label>
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <!-- CreatedBy field -->
                    <div class="form-group">
                        <label for="CreatedBy" class="control-label col-md-2">Creato Da</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CreatedBy, (SelectList)ViewBag.Users, "Select User", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Photo field -->
                    <div class="form-group">
                        <label for="eventPhoto" class="control-label col-md-2">Foto Evento</label>
                        <div class="col-md-10">
                            <input type="file" name="eventPhoto" class="form-control" />
                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Teams checkboxes -->
                    <div class="form-group">
                        <label class="control-label col-md-2">Squadre</label>
                        <div class="col-md-10">
                            @foreach (var team in ViewBag.Teams as IEnumerable<GamingRoom.Models.Teams>)
                            {
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="selectedTeams" value="@team.TeamID" checked="@Model.Teams.Any(t => t.TeamID == team.TeamID)" /> @team.Name
                                    </label>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salva" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

                <div>
                    @Html.ActionLink("Torna alla Lista", "Index", null, new { @class = "btn btn-secondary text-white ms-3" })
                </div>
            }
       
    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
