@model IEnumerable<GamingRoom.Models.Events>

@{
    ViewBag.Title = "Events Index";
}

<h2>Events</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table text-light fs-5">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="d-none d-md-table-cell">
                    <!-- Nascondi su schermi piccoli -->
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th class="d-none d-lg-table-cell">
                    <!-- Nascondi su schermi medi e piccoli -->
                    @Html.DisplayNameFor(model => model.VenueID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketsAvailable)
                </th>
                <th class="d-none d-lg-table-cell">
                    <!-- Nascondi su schermi medi e piccoli -->
                    @Html.DisplayNameFor(model => model.TicketsSold)
                </th>
                <th class="d-none d-lg-table-cell">
                    <!-- Nascondi su schermi extra-large -->
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th class="d-none d-lg-table-cell">
                    <!-- Nascondi su schermi extra-large -->
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    Team Partecipanti
                </th>
                <th>
                    Photo
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="d-none d-md-table-cell">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.VenueID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketsAvailable)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.TicketsSold)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @string.Join(", ", item.Teams.Select(t => t.Name))
                    </td>
                    <td>
                        <img src="@Url.Content("~/Content/ImgEvents/" + item.Photo)" alt="Event Photo" width="100" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
