@model IEnumerable<GamingRoom.Models.Events>

@{
    ViewBag.Title = "Events Index";
}

<h2 class="text-center">Riepilogo Eventi</h2><p>



    @Html.ActionLink("Crea Evento", "Create", null, new { @class = "btn btn-primary ms-3" }) 
</p>
<div class="table-responsive ">
    <table class="table table-hover text-white fs-5">
        <thead class="bg-primary">
            <tr>
                
                <th>
                    Nome Evento
                </th>
               
                <th>
                    Data Evento
                </th>
                <th class="d-none d-lg-table-cell">
                    Arena
                </th>
                <th>
                    Prezzo Biglietto
                </th>
                <th>
                    Biglietti Disponibili
                </th>
                <th class="d-none d-lg-table-cell">
                    Biglietti Venduti
                </th>
                             
                <th>
                    Team Partecipanti
                </th>
                <th>
                    Locandina
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.Venues.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketsAvailable)
                    </td>
                    <td class="d-none d-lg-table-cell">
                        @Html.DisplayFor(modelItem => item.TicketsSold)
                    </td>


                    <td>
                        @string.Join(", ", item.Teams.Select(t => t.Name))
                    </td>
                    <td>
                        <img src="@Url.Content("~/Content/ImgEvents/" + item.Photo)" alt="Event Photo" class="img-fluid" width="100" /> <!-- img-fluid per un'immagine responsiva -->
                    </td>
                    <td>
                        @Html.ActionLink("Modifica", "Edit", new { id = item.EventID }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Dettagli", "Details", new { id = item.EventID }, new { @class = "btn btn-primary btn-sm" }) |
                        @Html.ActionLink("Elimina", "Delete", new { id = item.EventID }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
