@model GamingRoom.Models.Events

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">

        <!-- Colonna principale per la card dell'evento -->
        <div class="col-xl-6 col-lg-12 mb-4">
            <!-- Card Evento Centrale -->
            <div class="card text-white bg-middlepurple">
                <div class="card-header text-center">
                    <h1 style=" color: rgb(214, 214, 214)!important">@Model.Name</h1>
                </div>
                <img src="@Url.Content("~/Content/ImgEvents/" + Model.Photo)" class="card-img-top" alt="@Model.Name" style="max-height: 600px; object-fit: cover;">
                <div class="card-body" style=" color: rgb(214, 214, 214)!important">
                    <h4 class="card-title">Dettagli Evento</h4>
                    <p class="card-text">@Model.Description</p>
                    <h4>Data:</h4><p class="card-text"> @Model.Date.ToString("dd/MM/yyyy")</p>
                    <h4>Biglietti disponibili:</h4><p class="card-text"> @Model.TicketsAvailable</p>
                    <h4>Prezzo del Biglietto:</h4><p class="card-text">@Model.TicketPrice.ToString("C")</p>

                                                  <div class="card-footer">
                                                      @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                                      {
                                                          @Html.AntiForgeryToken()
                                                          @Html.HiddenFor(model => model.EventID)
                                                          @Html.Hidden("ticketPrice", Model.TicketPrice)
                                                          @Html.Hidden("eventName", Model.Name)
                                                          @Html.HiddenFor(model => model.Date, new { @Value = Model.Date.ToString("yyyy-MM-dd") })
                                                          @Html.HiddenFor(model => model.VenueID)
                                                          <div class="row align-items-center">
                                                              <div class="col">
                                                                  <label for="quantity">Quantità:</label>
                                                                  <select id="quantity" name="quantity" class="form-control">
                                                                      @for (int i = 1; i <= 5; i++)
                                                                      {
                                                                          <option value="@i">@i</option>
                                                                      }
                                                                  </select>
                                                              </div>
                                                              <div class="col">
                                                                  <label></label>

                                                                  <button type="submit" class="btn button-index">Aggiungi al carrello</button>
                                                              </div>
                                                          </div>
                                                      }


                                                  </div>
                </div>
            </div>
        </div>

        <!-- Colonna secondaria per le card di luogo e team -->
        <div class="col-xl-6 col-lg-12 ">
            <div class="row d-flex flex-column ">
                <!-- Card Luogo -->
                <div class="mb-4">
                    <div class="card  bg-middlepurple">
                        <div class="card-header text-center">
                            <h3 style=" color: rgb(214, 214, 214)!important ">@Model.Venues.Name</h3>
                        </div>
                        <img src="@Url.Content("~/Content/ImgVenues/" + Model.Venues.Photo)" class="card-img-top" style="height: 400px; width:auto;object-fit: cover;" alt="@Model.Venues.Name" >
                        <div class="card-body">
                            <p class="card-text"><strong>Indirizzo:</strong> @Model.Venues.Address</p>
                            <p class="card-text"><strong>Capacità:</strong> @Model.Venues.Capacity posti</p>
                        </div>
                    </div>
                </div>
                <!-- Card Teams -->
                <div >
                    <div class="card text-white bg-middlepurple">
                        <div class="card-header text-center">
                            <h3 style=" color: rgb(214, 214, 214)!important">Teams</h3>
                        </div>
                        <ul class="list-group list-group-flush  ">
                            @foreach (var team in Model.Teams)
                            {
                                <li class="list-group-item bg-middlepurple text-light">
                                    <img src="@Url.Content("~/Content/ImgTeams/" + team.Photo)" class="img-fluid" alt="@team.Name" style="max-height: 50px; object-fit: cover;">
                                    @team.Name
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


