@model GamingRoom.Models.Players

@{
    ViewBag.Title = "Player Details";
}

<div class="container" style="min-height:100vh">
    <div class="row justify-content-center align-items-center" style="height:100%">
        <div class="col-md-8">
            <div class="card mt-5 text-white" style="background-color: rgb(157, 0, 255)!important">
                <div class="card-header">
                    <h2 class="text-center">Dettagli Giocatore</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Foto</dt>
                        <dd class="col-sm-8">
                            <img src="@Url.Content("~/Content/ImgPlayers/" + Model.Photo)" alt="Player Photo" width="200" />
                        </dd>

                        <dt class="col-sm-4">Squadra</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Teams.Name)</dd>

                        

                        <dt class="col-sm-4">Nome</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">Cognome</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Surname)</dd>

                        <dt class="col-sm-4">Nickname</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nickname)</dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Edit", new { id = Model.PlayerID })" class="btn btn-primary">Modifica</a>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Torna alla Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
