@model GamingRoom.Models.Players

@{
    ViewBag.Title = "Edit Player";
}

<div style="height:100vh">
    
            <h2 class="text-center text-white mt-5">Modifica Giocatore</h2>
            @using (Html.BeginForm("Edit", "Players", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal ms-5", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group text-white">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.PlayerID)

                    <div class="form-group">
                        <label for="Name" class="control-label col-md-2">Nome</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Surname" class="control-label col-md-2">Cognome</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nickname" class="control-label col-md-2">Nickname</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="TeamID" class="control-label col-md-2">Squadra</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.TeamID, (SelectList)ViewBag.Teams, "Scegli Squadra", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TeamID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CreatedBy" class="control-label col-md-2">Creato Da</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CreatedBy, (SelectList)ViewBag.Users, "Scegli Utente", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="playerPhoto" class="control-label col-md-2">Foto</label>
                        <div class="col-md-10">
                            <input type="file" name="playerPhoto" class="form-control" />
                            @Html.HiddenFor(model => model.Photo)
                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salva" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

                <div>
                    @Html.ActionLink("Torna alla Lista", "Index", null, new { @class = "btn btn-secondary text-white ms-3" })
                </div>
            }
        </div>
    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
