@model IEnumerable<GamingRoom.Models.Users>

@{
    ViewBag.Title = "Indice Utenti";
}

<h2 class="text-center">Riepilogo Utenti</h2>

<p>
    @Html.ActionLink("Crea Nuovo", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-hover text-white fs-5">
        <thead class="bg-primary">
            <tr>
                <th>
                Azienda
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BusinessDetails.BusinessName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password) <!-- Attenzione: mostrare le password in chiaro può essere un rischio per la sicurezza -->
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.ActionLink("Modifica", "Edit", new { id = item.UserID }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Dettagli", "Details", new { id = item.UserID }, new { @class = "btn btn-primary btn-sm" }) |
                        @Html.ActionLink("Elimina", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
