@model GamingRoom.Models.Venues

@{
    ViewBag.Title = "Elimina Arena";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:100vh">
    <div class="row justify-content-center align-items-center" style="height:100%">
        <div class="col-md-8">
            <div class="card mt-5 text-white" style="background-color: rgb(157, 0, 255)!important">
                <div class="card-header">
                    <h2 class="text-center">Elimina Arena</h2>
                </div>
                <div class="card-body">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <h3 class="text-center text-white">Sei sicuro di voler eliminare questo luogo?</h3>
                    <dl class="dl-horizontal">
                        <dt>Nome Luogo</dt>
                        <dd>@Model.Name</dd>
                        <dt>Indirizzo</dt>
                        <dd>@Model.Address</dd>
                        <dt>Capacità</dt>
                        <dd>@Model.Capacity</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    @using (Html.BeginForm("Delete", "Venues", new { id = Model.VenueID }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Elimina</button>
                    }
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Annulla</a>
                </div>
            </div>
        </div>
    </div>
</div>
