@model GamingRoom.Models.Venues

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Venues</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt>
            @Html.DisplayName("Image")
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Photo))
            {
                <img src="@Url.Content("~/Content/ImgVenues/" + Model.Photo)" alt="Venue Image" style="max-width: 100%; height: auto;" />
            }
            else
            {
                <text>Nessuna Immagine disponibile</text>
            }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VenueID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
