@model List<GamingRoom.Models.Events>

@{
    var teams = ViewBag.Teams as IEnumerable<GamingRoom.Models.Teams>;
}

@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Gaming Room</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-style.css">

</head>
<body>

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>





    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="row">

            <div class="owl-carousel owl-theme">
                <div class="item item-first">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Battaglie Leggendarie Ti Aspettano</h3>
                                <h1>Unisciti all'emozione del gioco e assisti a battaglie epiche</h1>
                                <a href="#eventCarousel" class="col-md-4 button-index btn mt-3 me-5 smoothScroll">Esplora Eventi</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-second">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Vivi l'Esports Come Mai Prima d'ora</h3>
                                <h1>Ottieni posti in prima fila e tifa per i tuoi team preferiti</h1>
                                <a href="@Url.Action("AllEvents", "Events")" class="col-md-4 button-index btn mt-3 me-5 smoothScroll">Acquista Biglietti</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-third">
                    <div class="caption">
                        <div class="container">
                            <div class="col-md-8 col-sm-12">
                                <h3>Arene infuocate</h3>
                                <h1>Partecipa ad eventi incredibili nelle arene da gaming più grandi del mondo </h1>
                                <a href="#arene" class="col-md-4 button-index btn mt-3 me-5 smoothScroll">Esplora Arene</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>


    

    <!-- ABOUT -->
    <section id="about" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">

                            <h2>
                                Cerca, trova, goditi l'E-show
                            </h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>Entra nel vivo dell'azione con la nostra piattaforma: il punto di riferimento per ogni appassionato di videogiochi che cerca emozioni forti. Scopri i tornei in programma, acquista i biglietti in pochi click e preparati a vivere esperienze indimenticabili. Segui i tuoi team preferiti e non perdere nemmeno un minuto delle sfide più avvincenti. Condividi la passione, celebra le vittorie, impara dalle sconfitte. La nostra community ti aspetta per condividere ogni momento di gioco. Unisciti a noi, l'avventura Esports è appena iniziata!.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                        <img src="~/assets/images/arenapubg.png" class="img-responsive" id="imgarenahome" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- TEAM -->
    <section id="team" data-stellar-background-ratio="0.5">

        <div class="row">

            <div class="col-md-4 col-sm-12 text-start">
                <div class="section-title wow fadeInUp " data-wow-delay="0.1s">
                    <h2 class="text-start ms-5">Scopri gli eventi</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <a href="@Url.Action("AllEvents", "Events")" class="btn button-index">Vedi tutti gli eventi</a>
                </div>
            </div>

            <div id="eventCarousel" class="carousel-container  my-5">
                <div class="carousel-wrapper">
                    <!-- Set originale di card -->
                    @foreach (var evento in Model)
                    {
                        @Html.Partial("_EventCard", evento)
                    }
                    <!-- Set duplicato di card per il loop infinito -->
                    @foreach (var evento in Model)
                    {
                        @Html.Partial("_EventCard", evento)
                    }
                </div>
            </div>




            <div class="col-md-4 col-sm-12 text-start">
                <div class="section-title wow fadeInUp " data-wow-delay="0.1s">
                    <h2 class="text-start ms-5">Scopri i teams </h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <a href="@Url.Action("AllTeams", "Teams")" class="btn button-index">Vedi tutti i Teams</a>
                </div>
            </div>





            <!-- Carosello per i team -->
            <div id="teamCarousel" class="carousel-container my-5">
                <div class="carousel-wrapper ">
                    <!-- Set originale di card per i team -->
                    @foreach (var team in teams)
                    {
                        @Html.Partial("_TeamCard", team)
                    }
                    <!-- Set duplicato di card per il loop infinito -->
                    @foreach (var team in teams)
                    {
                        @Html.Partial("_TeamCard", team)
                    }

                </div>
            </div>





        </div>
    </section>


    <!--MENU ARENE-->
    <section id="arene" data-stellar-background-ratio="0.5" class="mb-5">
        <div class="container container-fluid">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Le Nostre Arene</h2>
                        <h4>Queste e molte altre</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU ARENE THUMB -->
                    <div class="menu-thumb">
                        <a href="~/Content/ImgVenues/arena.png" class="image-popup" title="CopperBox Arena">
                            <img src="~/Content/ImgVenues/arena.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>CopperBox Arena</h3>
                                    <p>Londra - Regno Unito</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU ARENE THUMB -->
                    <div class="menu-thumb">
                        <a href="~/Content/ImgVenues/arena2.png" class="image-popup" title="MercedesBenz Arena">
                            <img src="~/Content/ImgVenues/arena2.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>MercedesBenz Arena</h3>
                                    <p>Shanghai - Cina</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU ARENE THUMB -->
                    <div class="menu-thumb">
                        <a href="~/Content/ImgVenues/arena3.png" class="image-popup" title="Lanxess Arena">
                            <img src="~/Content/ImgVenues/arena3.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Lanxess Arena</h3>
                                    <p>Colonia - Germania</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU ARENE THUMB -->
                    <div class="menu-thumb">
                        <a href="~/Content/ImgVenues/arena4.png" class="image-popup" title="Qudos Bank Arena">
                            <img src="~/Content/ImgVenues/arena4.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Qudos Bank Arena</h3>
                                    <p>Sydney - Australia</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU ARENE THUMB -->
                    <div class="menu-thumb">
                        <a href="~/Content/ImgVenues/arena5.png" class="image-popup" title="Royal Arena">
                            <img src="~/Content/ImgVenues/arena5.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Royal Arena</h3>
                                    <p>Copenhaghen - Danimarca</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- MENU ARENE THUMB -->
                    <div class="menu-thumb">
                        <a href="~/Content/ImgVenues/arena6.png" class="image-popup" title="Commerzbank Arena">
                            <img src="~/Content/ImgVenues/arena6.png" class="img-responsive" alt="">

                            <div class="menu-info">
                                <div class="menu-item">
                                    <h3>Commerzbank Arena</h3>
                                    <p>Francoforte - Germania</p>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </section>




    <!-- CONTACT -->
    <section id="contact" data-stellar-background-ratio="0.5" class="mt-5">
        <div class="container">
            <div class="row">

                <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.4s" transition: 0.3s;">
                    <div id="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d79425.57402525588!2d-0.20575415967376223!3d51.530657641194004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x48761ba3a5a1470b%3A0xd5656d630ccedd8c!2sKings%20Cross%20Station%2C%20Euston%20Road%2C%20Londra%2C%20Regno%20Unito!3m2!1d51.530686499999995!2d-0.1233551!4m0!5e0!3m2!1sit!2sit!4v1699272532369!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">

                    <div class="col-md-12 col-sm-12">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                            <h2>Contattaci</h2>
                        </div>
                    </div>

                    <!-- CONTACT FORM -->
                    <form action="#" method="post" class="wow fadeInUp" id="contact-form" role="form" data-wow-delay="0.8s">

                        <h6 class="text-success">Your message has been sent successfully.</h6>

                        <!-- IF MAIL NOT SENT -->
                        <h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>

                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" id="cf-name" name="name" placeholder="Nome">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <input type="email" class="form-control" id="cf-email" name="email" placeholder="Indirizzo Email">
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <input type="text" class="form-control" id="cf-subject" name="subject" placeholder="Oggetto">

                            <textarea class="form-control" rows="6" id="cf-message" name="message" placeholder="Come possiamo aiutarti?"></textarea>

                            <button type="submit" class="form-control" id="cf-submit" name="submit">Invia Messaggio</button>
                        </div>
                    </form>
                </div>
                <hr class="mt-5"/>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="footer" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-8">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" style="color:rgb(214, 214, 214)" data-wow-delay="0.2s">Dove Trovarci</h2>
                        </div>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>742 Evergreen Terrace,<br> Springfield<br>USA</p>
                        </address>
                    </div>
                </div>

                <div class="col-md-3 col-sm-8">
                    <div class="footer-info">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" style="color:rgb(214, 214, 214)" data-wow-delay="0.2s">Numero Verde</h2>
                        </div>
                        <address class="wow fadeInUp" data-wow-delay="0.4s">
                            <p>0837-283729 | 0293-283729</p>
                            <p><a href="mailto:info@gamingroom.com">info@gamingroom.com</a></p>

                        </address>
                    </div>
                </div>

                <div class="col-md-4 col-sm-8">
                    <div class="footer-info footer-open-hour">
                        <div class="section-title">
                            <h2 class="wow fadeInUp" style="color:rgb(214, 214, 214)" data-wow-delay="0.2s">Orari Ufficio</h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-delay="0.4s">

                            <div>
                                <strong>Lunedì - Venerdì</strong>
                                <p>7:00 AM - 9:00 PM</p>
                            </div>
                            <div>
                                <strong>Sabato - Domenica</strong>
                                <p>11:00 AM - 10:00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <ul class="wow fadeInUp social-icon" data-wow-delay="0.4s">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-google"></a></li>
                    </ul>

                    <div class="wow fadeInUp copyright-text" data-wow-delay="0.8s">
                        <p>
                            <br>Copyright &copy; 2023 <br>Gaming Room
                        </p>

                    </div>
                </div>
                <hr />
                <div class="text-center wow fadeInUp social-icon mb-2" data-wow-delay="0.4s">
                    <p>Un sentito ringraziamento per il logo a Giovanni Scarantino  <a href="https://www.linkedin.com/in/giovanni-scarantino-frontend-dev/" class="fa fa-linkedin"></a>
                </div>

                <div class="text-center wow fadeInUp social-icon" data-wow-delay="0.4s">
                    <p>
                        Capstone Project - Applicazione creata a scopo didattico da:<br>
                        Federico Maso

                    </p>
                    <ul style="color: rgb(214, 214, 214);">
                        <li><a href="https://github.com/Fedemaso" class="fa fa-github"></a> </li>
                        <li><a href="https://www.linkedin.com/in/federico-maso-full-stack-developer/" class="fa fa-linkedin"></a> </li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>




    <!-- SCRIPTS -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.stellar.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/smoothscroll.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Seleziona il carosello degli eventi
            const eventSlider = document.querySelector('#eventCarousel .carousel-wrapper');
            // Seleziona il carosello dei team
            const teamSlider = document.querySelector('#teamCarousel .carousel-wrapper');

            // Funzione per gestire l'entrata del mouse
            function pauseSlider(slider) {
                slider.classList.add('paused');
            }

            // Funzione per gestire l'uscita del mouse
            function resumeSlider(slider) {
                slider.classList.remove('paused');
            }

            // Eventi per il carosello degli eventi
            eventSlider.addEventListener('mouseenter', () => pauseSlider(eventSlider));
            eventSlider.addEventListener('mouseleave', () => resumeSlider(eventSlider));

            // Eventi per il carosello dei team
            teamSlider.addEventListener('mouseenter', () => pauseSlider(teamSlider));
            teamSlider.addEventListener('mouseleave', () => resumeSlider(teamSlider));
        });
    </script>
  
</body>
</html>