@model GamingRoom.Models.Teams

@{
    ViewBag.Title = "Team Details";
}

<div class="container" style="height:120vh">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-5 text-white" style="background-color: rgb(157, 0, 255)!important">
                <div class="card-header">
                    <h2 class="text-center">Dettagli Team</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Logo</dt>
                        <dd class="col-sm-8">
                            @if (Model.Photo != null)
                            {
                                <img src="@Url.Content("~/Content/ImgTeams/" + Model.Photo)" alt="Team Photo" class="img-fluid" />
                            }
                        </dd>
                         
                        <dt class="col-sm-4">Team</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">Descrizione</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>


                    </dl>
                </div>
                <div class="card-footer text-muted">
                    <a href="@Url.Action("Edit", new { id = Model.TeamID })" class="btn btn-primary">Modifica</a>
                    <a href="@Url.Action("Index")" class="btn btn-secondary">Torna alla Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
