@model IEnumerable<GamingRoom.Models.Teams>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Riepilogo Teams</h2>

<p>
    @Html.ActionLink("Crea Team", "Create", null, new { @class = "btn btn-primary ms-3" })
</p>
<div class="table-responsive">
    <table class="table table-hover text-white fs-5">
        <thead class="bg-primary">
            <tr>
                
                <th>
                Nome    
                </th>
                <th>
                Descrizione

                </th>
                <th>
                Logo 
                </th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.Photo != null)
                        {
                            <img src="@Url.Content("~/Content/ImgTeams/" + item.Photo)" alt="Foto Squadra" class="img-fluid" width="100" />
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Modifica", "Edit", new { id = item.TeamID }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Dettagli", "Details", new { id = item.TeamID }, new { @class = "btn btn-primary btn-sm" }) |
                        @Html.ActionLink("Elimina", "Delete", new { id = item.TeamID }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
