@model GamingRoom.Models.UserCustomer
@{
    ViewBag.Title = "Login";
}


@*<div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            //Aggiungere qui il codice HTML per la struttura della pagina

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)

            <input type="submit" value="Login" />
        }

        <p>
            Non hai un account? @Html.ActionLink("Registrati ora!", "Register", "Register")
        </p>

    </div>*@



@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <section class="vh-100 bg-image"
             style="background-image: url('/Content/Immagini/DogDaycare.png');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Accedi al tuo Account</h2>
                                <form>

                                    <div class="form-outline mb-4">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Email" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Password", @type = "password" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <input type="submit" value="Accedi" class="btn btn-success btn-lg" />
                                    </div>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })
                                    <p class="text-center text-muted mt-5 mb-0">
                                        Non sei ancora registrato? <a href="/Register/Register" class="fw-bold text-body"><u>Registrati</u></a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}